.vscode/**
**/*.ts
**/*.map
.gitignore
**/tsconfig.json
**/tsconfig.base.json
contributing.md
.travis.yml
client/node_modules/**
!client/node_modules/vscode-jsonrpc/**
!client/node_modules/vscode-languageclient/**
!client/node_modules/vscode-languageserver-protocol/**
!client/node_modules/vscode-languageserver-types/**
!client/node_modules/{minimatch,brace-expansion,concat-map,balanced-match}/**
!client/node_modules/{semver,lru-cache,yallist}/**
!client/node_modules/execa/**
!client/node_modules/cross-spawn/**
!client/node_modules/nice-try/**
!client/node_modules/which/**
!client/node_modules/isexe/**
!client/node_modules/path-key/**
!client/node_modules/shebang-command/**
!client/node_modules/shebang-regex/**
!client/node_modules/strip-eof/**
!client/node_modules/npm-run-path/**
!client/node_modules/is-stream/**
!client/node_modules/get-stream/**
!client/node_modules/pump/**
!client/node_modules/once/**
!client/node_modules/wrappy/**
!client/node_modules/end-of-stream/**
!client/node_modules/p-finally/**
!client/node_modules/signal-exit/**
!client/node_modules/mz/**
!client/node_modules/thenify-all/**
!client/node_modules/thenify/**
!client/node_modules/any-promise/**